.profile__edit-button {
    width: 1.5rem;
    height: 1.5rem;
    background: url(/images/icon/edit-button.svg) no-repeat center;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 576px) {
    .profile__edit-button {
        width: 1.125rem;
        height: 1.125rem;
      }
}