.cards {
    max-width: 880px;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: 282px 282px 282px;
    grid-template-rows: 362px 362px;
    gap: 20px 17px;
  }
  .cards__container {
    border-radius: 10px;
    background: #fff;
    width: 282px;
    height: 361px;
    padding: 0;
    position: relative;
  }
.cards__elements{
  height: 282px;
}

  .cards__place-image {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
    margin: 0;
  }
  .cards__info {
    background-color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  }
  .cards__text {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  width: 246px;
  margin: 25px 0 31px 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  }
  
  .cards__delete {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 19px;
    background-image: url(../images/icon/Trash.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.3s ease;
  }
  
  .cards__delete:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .cards__like {
    margin: auto auto;
    width: 28px;
    height: 21px;
    background-image: url(../images/icon/like-button.svg);
    background-repeat: no-repeat;
    
  }

  .cards__like:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  .cards__like-active {
    background-image: url(../images/icon/like-button-active.svg);
  }
  
  @media screen and (max-width: 880px) {
    .cards {
      max-width: 581px;
      margin: 36px auto 0;
      grid-template-columns: 282px 282px;
    }
  }
  
  @media screen and (max-width: 580px) {
    .cards {
      max-width: 282px;
      margin: 36px auto 0;
      grid-template-columns: 282px;
    }
  }