.profile {
    margin: 40px auto;
    width: 880px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 1.125rem;
  }
  
  .profile__avatar {
    border-radius: 50%;
  }
  
  .profile__info {
    width: 100%;
  }
  
  .profile__name {
    margin: 0;
    padding-right: 1rem;
    font-family: Inter;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem; /* 114.286% */
    display: inline;
  }
  
  .profile__edit-button {
    width: 1.5rem;
    height: 1.5rem;
    background: url(../images/icon/edit-button.svg) no-repeat center;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
  }
  
  .profile__edit-button:hover {
    opacity: 0.6;
  }
  
  .profile__about {
    margin: 0;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .profile__add-button {
    width: 9.4rem;
    height: 3.1rem;
    background: url(../images/icon/Add-Button.svg) no-repeat center;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 0;
    cursor: pointer;
  }
  
  .profile__add-button:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 881px) {
    .profile {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 329px) {
    .profile {
      flex-direction: column;
      width: auto;
    }
    .profile__info {
      text-align: center;
    }
    .profile__add-button {
      width: 100%;
    }
  
    .profile__name {
      font-size: 1.35rem;
    }
  
    .profile__about {
      font-size: 0.9rem;
    }
  }