
.cards__title {
    font-family: "Inter", Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    width: 92%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
  }
